/*Root, tamaño fuente responsivo*/
:root {
    --step--2: clamp(0.78rem, 0.69rem + 0.48vw, 1.06rem);
    --step--1: clamp(0.94rem, 0.77rem + 0.82vw, 1.41rem);
    --step-0: clamp(1.13rem, 0.86rem + 1.30vw, 1.88rem);
    --step-1: clamp(1.35rem, 0.95rem + 2.00vw, 2.50rem);
    --step-2: clamp(1.62rem, 1.02rem + 2.98vw, 3.33rem);
    --step-3: clamp(1.94rem, 1.08rem + 4.34vw, 4.44rem);
    --step-4: clamp(2.33rem, 1.08rem + 6.24vw, 5.92rem);
    --step-5: clamp(2.80rem, 1.03rem + 8.86vw, 7.89rem);

}

/*Tren*/
.train {
    width: 2.5rem;
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    top: 19%;
    right: 50%;
}

/*Linea de paradas*/
.line {
    width: min(20rem, 90%);
    height: 1px;
    background-color: black;
    position: absolute;
    top: 25%;
    right: 44%;
}

.line > div {
    width: 1px;
    height: 10px;
    background-color: black;
}

.line div:nth-child(1) {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.line div:nth-child(2) {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.line div:nth-child(3) {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
}

.line div:nth-child(4) {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}
.line div:nth-child(5) {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/*Boton de manual/automatico*/
.container-toggle {
    width: 10rem;
    height: 3rem;
    background-color: lightseagreen;
    position: relative;
}

.container-toggle > button {
    position: absolute;
    left:0;
}

/* Estilos generales para centrar la página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #7aef7a;
}

/*Header*/
header{
    display: flex;
    width: 100%;
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 0;
}

header p{
    background-color: #2245c7;
    padding: 1em 1em;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;

}

nav{
    background-color: #2245c7;
    text-align: center;
    padding: 10px 0;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav  p {
    color: #fff;
    text-decoration: none;
    margin: 0.6em;
}

/* Estilos para los botones */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Estilos específicos para los botones en la sección de control */
.controllers button {
    margin-bottom: 10px;
}

/* Alinear los botones de izquierda a derecha */
.controllers button:nth-child(1) {
    order: 1;
}

.controllers button:nth-child(2) {
    order: 2;
}

.controllers button:nth-child(3) {
    order: 3;
}

.controllers button:nth-child(4) {
    order: 4;
}






